<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit User'), ['action' => 'edit', $user->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete User'), ['action' => 'delete', $user->id], ['confirm' => __('Are you sure you want to delete # {0}?', $user->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Users'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New User'), ['action' => 'add']) ?> </li>
        <li><?= $this->Html->link(__('List Pressionpointshistories'), ['controller' => 'Pressionpointshistories', 'action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Pressionpointshistory'), ['controller' => 'Pressionpointshistories', 'action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="users view large-9 medium-8 columns content">
    <h3><?= h($user->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Username') ?></th>
            <td><?= h($user->username) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Password') ?></th>
            <td><?= h($user->password) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= $this->Number->format($user->id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Created') ?></th>
            <td><?= h($user->created) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Modified') ?></th>
            <td><?= h($user->modified) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Active') ?></th>
            <td><?= $user->active ? __('Yes') : __('No'); ?></td>
        </tr>
    </table>
    <div class="related">
        <h4><?= __('Related Pressionpointshistories') ?></h4>
        <?php if (!empty($user->pressionpointshistories)): ?>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th scope="col"><?= __('Id') ?></th>
                <th scope="col"><?= __('User Id') ?></th>
                <th scope="col"><?= __('Pressionpoint Id') ?></th>
                <th scope="col"><?= __('Val') ?></th>
                <th scope="col"><?= __('Created') ?></th>
                <th scope="col"><?= __('Modified') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
            <?php foreach ($user->pressionpointshistories as $pressionpointshistories): ?>
            <tr>
                <td><?= h($pressionpointshistories->id) ?></td>
                <td><?= h($pressionpointshistories->user_id) ?></td>
                <td><?= h($pressionpointshistories->pressionpoint_id) ?></td>
                <td><?= h($pressionpointshistories->val) ?></td>
                <td><?= h($pressionpointshistories->created) ?></td>
                <td><?= h($pressionpointshistories->modified) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['controller' => 'Pressionpointshistories', 'action' => 'view', $pressionpointshistories->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['controller' => 'Pressionpointshistories', 'action' => 'edit', $pressionpointshistories->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['controller' => 'Pressionpointshistories', 'action' => 'delete', $pressionpointshistories->id], ['confirm' => __('Are you sure you want to delete # {0}?', $pressionpointshistories->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </table>
        <?php endif; ?>
    </div>
</div>
