<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Stretching'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="stretching index large-9 medium-8 columns content">
    <h3><?= __('Stretching') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('name') ?></th>
                <th scope="col"><?= $this->Paginator->sort('img') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($stretching as $stretching): ?>
            <tr>
                <td><?= $this->Number->format($stretching->id) ?></td>
                <td><?= h($stretching->name) ?></td>
                <td><?= h($stretching->img) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $stretching->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $stretching->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $stretching->id], ['confirm' => __('Are you sure you want to delete # {0}?', $stretching->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
